:root {
    margin: auto;
    padding: 0;
    max-width: 400px;
    /* background-color: black; */
}

h2 {
    font-family: "Prompt", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

h1 {
    color: white;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}
#opening {
    display: flex;
    background-color: yellow;
    justify-content: center;
    border-radius: 1rem;
}

#opening img {
    width: 50px;
    padding: .5rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

nav a, p {
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
}

.a {
    color: white;
    background-color: black;
    padding: .5rem;
    border: 2px solid yellow;
}
.b {
    color: black;
    background-color: white;
    padding: .5rem;
    border: 1px solid black;
}
.c {
    color: black;
    background-color: yellow;
    padding: .5rem;
    border: 1px solid black;
}

#wireframe {
    display: flex;
}

#wireframe img{
    height: 100px;
    width: auto;
    padding: .5rem;
}