@media  screen and (min-width: 620px) {
    .navigation {
        display: flex;
        position: absolute;
        justify-content: center;
        margin: auto;
        width: 50%;
        flex-direction: row;
        top: 1.3rem;
        right: 5rem;
    }

    nav a {
        display: block;
    }

    #album {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        align-content: center;
    }

}