:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background-color: #55459c;
    color: #ffffff;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    border-radius: .5rem;
    padding: .5rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #8577c3;
    color: #fff;
    border-radius: 1rem;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    border-bottom: 3px solid #2e2162;
    font-weight: 600;
    border-radius: 0 0 .5em .5em;
    text-decoration: overline;
    background-color: #55459c;
    color: white;
    font-weight: 400;
    border-radius: 0 0 .5em .5em;
}

.open, .open a {
    display: block;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: #55459c;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

h2 {
    text-align: center;
    color:  #55459c;
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
}

#album {
    display: flex;
    flex-wrap: wrap;
}

#album div {
    background-color: #ded7ff;
    border: 1px solid #2e2162;
    text-align: center;
    padding: .5rem;
    margin: .5rem auto;
    min-width: 350px;
    border-radius: 1rem;
}

#album div img {
    max-width: 300px;
    overflow: hidden;
    box-shadow: 0 0 .5em 0 #000000;
}

#album p, h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-bottom: 1rem;
}

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    background-color: #55459c;
    padding: .5rem;
    color: #ffffff;
}