@media (min-width: 501px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        width: 100%;
        height: 2rem;
    }

    h1 {
        background-color: #55459c;
        color: #fff;
        font-size: 3rem;
        width: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
        height: auto;
    }

    .navigation {
        width: 100%;
        height: auto;
    }

    .navigation ul {
        list-style: none;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        background-color: #55459c;
        list-style: none;
        padding-top: 4rem;
        padding-bottom: 4rem;
        width: 100%;   
    }      

    .nav li a {
        transition: all 0.3s ease 0s;
        color: #ffffff;
        text-decoration: none;
        font-size: 4.2rem;
        padding-left: 5rem;
        padding-right: 5rem;

    }

    .nav li a:hover {
        text-decoration: overline;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
    }

    h2 {
        padding: 5rem;
        text-align: center;
        color:  #55459c;
        font-size: 3rem;
        height: auto;
        width: 100%;

    }

    main {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        align-content: center;
    }
    .album {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 5rem;
        align-content: center;
    }
    .album img {
        height: auto;
        width: 100%;
    }

    figure {
        padding: .5rem;
        margin: .5rem;
    }
    figcaption {
        color: #55459c;
        padding-top: .5rem;
        text-align: center;
        font-size: 2.4rem;
    }

    footer  {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 2rem;
        background-color: #55459c;
        padding: 2rem;
        color: #ffffff;
        width: 100%;
    }

}